<a href="https://colab.research.google.com/github/pyhton3estudo/mundo1/blob/master/MUNDO_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('AULA 04')
print ('Olá mundo!!!')
print(7+4)
print('7'+'4')
print('olá',5)

AULA 04
Olá mundo!!!
11
74
olá 5

In [ ]:
nome = 'Guanabara'
idade = 25
peso = 75.8
print(nome,idade,peso)

nome = input('Qual seu nome:')
idade = input('Qual sua idade:')
peso = input('Qual seu peso:')
print(nome,idade, peso)

Guanabara 25 75.8
Qual seu nome:Fernando
Qual sua idade:45
Qual seu peso:90.0
Fernando 45 90.0

In [ ]:
nome = input('Qual seu nome:')
idade = input('Qual sua idade:')
peso = input('Qual seu peso:')
print(nome,idade, peso)

Qual seu nome:s
Qual sua idade:74
Qual seu peso:12
s 74 12

In [ ]:
nome=input('Qual seu nome: ')
print('olá',nome,'! Prazer em te Conhecer!')

Qual seu nome: Fernando
olá Fernando ! Prazer em te Conhecer!

In [ ]:
dia=input('Dia = ')
mes=input('Mes = ')
ano=input('Ano = ')
print('Você nasceu no dia',dia,'de',mes,'de',ano,'. Correto?')

Dia = 17
Mes = Mar
Ano = 1978
Você nasceu no dia 17 de Mar de 1978 . Correto?

In [ ]:
n1=int(input('Digite um número: '))
n2=int(input('Digite outro número: '))
s= n1+n2
print('A soma é:' ,s)

Digite um número: 2
Digite outro número: 3
A soma é: 5

In [ ]:
print('AULA 06 - TIPOS PRIMITIVOS E TIPOS DE DADOS')
n1=int(input('Digite um número: '))
n2=int(input('Digite outro número: '))
s= n1+n2
print('A soma entre {} e {} vale {}'.format(n1,n2,s))

AULA 06 - TIPOS PRIMITIVOS E TIPOS DE DADOS
Digite um número: 2
Digite outro número: 3
A soma entre 2 e 3 vale 5

In [ ]:
n=input('Digite algo:')
print(type(n))
print('É número? ',n.isnumeric())
print('É letra? ',n.isalpha())
print('É letra e número? ',n.isalnum())
print('Estã em maiúscula? ',n.isupper())
print('Tem espaços? ',n.isspace())
print('Está em minúscula? ',n.islower())
print('Está capitalizada ',n.istitle())

Digite algo:Psid
<class 'str'>
É número?  False
É letra?  True
É letra e número?  True
Estã em maiúscula?  False
Tem espaços?  False
Está em minúscula?  False
Está capitalizada  True

In [ ]:
print('AULA 07 - OPERADORES ARITMÉTICOS')
c1=int
c2=int
c3=int
c1= 5+3*2
c2=3*5+4**2
c3=3*(5+4)**2
print(c1,c2,c3)

AULA 07 - OPERADORES ARITMÉTICOS
11 31 243

In [ ]:
num=float(input('Entre com um número: '))
print('O antecessor do número {:.2f} ẽ {:.2f} e o sucessor é {:.2f}'.format(num,num-1,num+1))

Entre com um número: 2
O antecessor do número 2.00 ẽ 1.00 e o sucessor é 3.00

In [ ]:
n=int(input('Entre com um número:'))
dobro = n * 2
triplo = n * 3
raiz = n ** (1/2)
print('Dobro = {}' .format(dobro))
print('Triplo = {}' .format(triplo))
print('Raiz Quadrada = {}' .format(raiz))

Entre com um número:9
Dobro = 18
Triplo = 27
Raiz Quadrada = 3.0

In [ ]:
n1=float(input('Entre com a nota 1: '))
n2=float(input('Entre com a nota 2: '))
med= (n1+n2)/2
print('A média do aluno é: {:.2f}' .format(med))

Entre com a nota 1: 10
Entre com a nota 2: 8
A média do aluno é: 9.00

In [7]:
med=float(input('Entre com o valor em metros: '))
cm= med *100
mm= med * 1000
print('O valor em CM= {:.2f} e valor em MM= {:.2f}' .format(cm,mm))

Entre com o valor em metros: 250
O valor em CM= 25000.00 e valor em MM= 250000.00

In [ ]:
num=int(input('Entre com o número: '))
print('A Tabuada de {} é:'.format(num))
print(num,'* 1 = {}'.format(num))
print(num,'* 2 = {}'.format(num*2))
print(num,'* 3 = {}'.format(num*3))
print(num,'* 4 = {}'.format(num*4))
print(num,'* 5 = {}'.format(num*5))
print(num,'* 6 = {}'.format(num*6))
print(num,'* 7 = {}'.format(num*7))
print(num,'* 8 = {}'.format(num*8))
print(num,'* 9 = {}'.format(num*9))
print(num,'* 10 = {}'.format(num*10))

Entre com o número: 5
A Tabuada de 5 é:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [18]:
valor=float(input('Entre com o valor para a conversão R$: '))
dolar=float(input('Entre com valor do dólar hoje: $'))
real= valor/dolar
print('O valor do dólar hoje é {:.2f}$, convertendo o valor {:.2f} para $ é igual a R$ {:.2f} ' .format(dolar,valor,real))

Entre com o valor para a conversão R$: 19.88
Entre com valor do dólar hoje: $3.27
O valor do dólar hoje é 3.27$, convertendo o valor 19.88 para $ é igual a R$ 6.08

In [14]:
larg=float(input('Entre com a largura da parede em metros: '))
alt=float(input('Entre com a altura da parede em metros: '))
area= larg * alt
tinta= area/2
print('Sua parede tem a dimensão de {:.2f} metros de largura por {:.2f} metros de altura. Sua área é de: {:.2f} metros'.format(larg,alt,area))
print('Vou precisar de {:.2f} litros de tinta!!!' .format(tinta))

Entre com a largura da parede em metros: 5
Entre com a altura da parede em metros: 5
Sua parede tem a dimensão de 5.00 metros de largura por 5.00 metros de altura. Sua área é de: 25.00 metros
Vou precisar de 12.50 litros de tinta!!!

In [23]:
prod=float(input('Entre com o valor do produto R$:'))
desc= prod * 0.05
total = prod - desc
print('Valor do produto = R${:.2f} com desconto de 15% = R$ {:.2f} o valor Total é: R${:.2f}'.format(prod,desc,total))

Entre com o valor do produto R$:546
Valor do produto = R$546.00 com desconto de 15% = R$ 27.30 o valor Total é: R$518.70

In [26]:
sal=float(input('Entre com o valor do salário: R$'))
aumento= sal * 0.15
total= sal + aumento
print('Salário atual R${:.2f} + 15% = R${:.2f} é igual a R${:.2f}' .format(sal,aumento,total))

Entre com o valor do salário: R$4319.43
Salário atual R$4319.43 + 15% = R$647.91 é igual a R$4967.34

In [28]:
c=float(input('Informe a temperatura em ºC='))
f=((9*c)/5)+32
print('A temperatura de {}ºC corresponde a {}ºF'.format(c,f))

Informe a temperatura em ºC=40
A temperatura de 40.0ºC corresponde a 104.0ºF

In [29]:
km=float(input('Quantos KM rodados:'))
dias=float(input('Entre com a quantidade de dias: '))
vdias = dias * 60
vkm = km * 0.15
total= vdias + vkm
print('Valor total = R${:.2f}'.format(total))

Quantos KM rodados:350
Entre com a quantidade de dias: 3
Valor total = R$232.50

In [32]:
print('AULA 08 - MÓDULOS')
from math import sqrt
num=int(input('Digite um número:'))
raiz= math.sqrt(num)
print('A raiz de {} é igual a {}'.format(num,raiz))

Digite um número:81
A raiz de 81 é igual a 9.0

In [39]:
import random
num= random.randint(1,10)
print(num)

9

In [42]:
import math
num=float(input('Digite um número: '))
print('A parte inteira do número {} é {}'.format(num,math.trunc(num)))

Digite um número: 3.141516
A parte inteira do número 3.141516 é 3

In [44]:
import math
co=float(input('Comprimento do cateto oposto: '))
ca=float(input('Comprimento do cateto adjacente: '))
h= math.hypot(co,ca)
print('Valor da hipotenusa: {:.2f}'.format(h))

Comprimento do cateto oposto: 2
Comprimento do cateto adjacente: 2.5
Valor da hipotenusa: 3.20

In [49]:
import math
angulo=float(input('Digite o ângulo que você deseja:'))
seno= math.sin(math.radians(angulo))
cosseno= math.cos(math.radians(angulo))
tangente= math.tan(math.radians(angulo))
print('Seno do ângulo {} = {:.2f}'.format(angulo,seno))
print('Cosseno do ângulo {} = {:.2f}'.format(angulo,cosseno))
print('Tangente do ângulo {} = {:.2f}'.format(angulo,tangente))

Digite o ângulo que você deseja:30
Seno do ângulo 30.0 = 0.50
Cosseno do ângulo 30.0 = 0.87
Tangente do ângulo 30.0 = 0.58

In [51]:
import random
n1=str(input('Primeiro aluno: '))
n2=str(input('Segundo aluno: '))
n3=str(input('Terceiro aluno: '))
n4=str(input('Quarto aluno: '))
lista = [n1,n2,n3,n4]
escolhido = random.choice(lista)
print('O aluno escolhido foi {}'.format(escolhido))

Primeiro aluno: a
Segundo aluno: b
Terceiro aluno: c
Quarto aluno: d
O aluno escolhido foi a

In [58]:
import random
n1=str(input('Primeiro aluno: '))
n2=str(input('Segundo aluno: '))
n3=str(input('Terceiro aluno: '))
n4=str(input('Quarto aluno: '))
lista = [n1,n2,n3,n4]
random.shuffle(lista)
print('A ordem de apresentação será: ')
print(lista)

Primeiro aluno: A
Segundo aluno: B
Terceiro aluno: C
Quarto aluno: D
A ordem de apresentação será:
['D', 'C', 'A', 'B']

In [64]:
frase='Curso em Vídeo de Python'
print(frase[9:21:2])

Vdod y