<a href="https://colab.research.google.com/github/pyhton3estudo/mundo1/blob/master/MUNDO_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
print('AULA 04')
print ('Olá mundo!!!')
print(7+4)
print('7'+'4')
print('olá',5)

AULA 04
Olá mundo!!!
11
74
olá 5

In [12]:
nome = 'Guanabara'
idade = 25
peso = 75.8
print(nome,idade,peso)

nome = input('Qual seu nome:')
idade = input('Qual sua idade:')
peso = input('Qual seu peso:')
print(nome,idade, peso)

Guanabara 25 75.8
Qual seu nome:Fernando
Qual sua idade:45
Qual seu peso:90.0
Fernando 45 90.0

In [13]:
nome = input('Qual seu nome:')
idade = input('Qual sua idade:')
peso = input('Qual seu peso:')
print(nome,idade, peso)

Qual seu nome:s
Qual sua idade:74
Qual seu peso:12
s 74 12

In [15]:
nome=input('Qual seu nome: ')
print('olá',nome,'! Prazer em te Conhecer!')

Qual seu nome: Fernando
olá Fernando ! Prazer em te Conhecer!

In [18]:
dia=input('Dia = ')
mes=input('Mes = ')
ano=input('Ano = ')
print('Você nasceu no dia',dia,'de',mes,'de',ano,'. Correto?')

Dia = 17
Mes = Mar
Ano = 1978
Você nasceu no dia 17 de Mar de 1978 . Correto?

In [23]:
n1=int(input('Digite um número: '))
n2=int(input('Digite outro número: '))
s= n1+n2
print('A soma é:' ,s)

Digite um número: 2
Digite outro número: 3
A soma é: 5

In [25]:
print('AULA 06 - TIPOS PRIMITIVOS E TIPOS DE DADOS')
n1=int(input('Digite um número: '))
n2=int(input('Digite outro número: '))
s= n1+n2
print('A soma entre {} e {} vale {}'.format(n1,n2,s))

AULA 06 - TIPOS PRIMITIVOS E TIPOS DE DADOS
Digite um número: 2
Digite outro número: 3
A soma entre 2 e 3 vale 5

In [52]:
n=input('Digite algo:')
print(type(n))
print('É número? ',n.isnumeric())
print('É letra? ',n.isalpha())
print('É letra e número? ',n.isalnum())
print('Estã em maiúscula? ',n.isupper())
print('Tem espaços? ',n.isspace())
print('Está em minúscula? ',n.islower())
print('Está capitalizada ',n.istitle())

Digite algo:Psid
<class 'str'>
É número?  False
É letra?  True
É letra e número?  True
Estã em maiúscula?  False
Tem espaços?  False
Está em minúscula?  False
Está capitalizada  True

In [60]:
print('AULA 07 - OPERADORES ARITMÉTICOS')
c1=int
c2=int
c3=int
c1= 5+3*2
c2=3*5+4**2
c3=3*(5+4)**2
print(c1,c2,c3)

AULA 07 - OPERADORES ARITMÉTICOS
11 31 243

In [68]:
num=float(input('Entre com um número: '))
print('O antecessor do número {:.2f} ẽ {:.2f} e o sucessor é {:.2f}'.format(num,num-1,num+1))

Entre com um número: 2
O antecessor do número 2.00 ẽ 1.00 e o sucessor é 3.00

In [91]:
n=int(input('Entre com um número:'))
dobro = n * 2
triplo = n * 3
raiz = n ** (1/2)
print('Dobro = {}' .format(dobro))
print('Triplo = {}' .format(triplo))
print('Raiz Quadrada = {}' .format(raiz))

Entre com um número:9
Dobro = 18
Triplo = 27
Raiz Quadrada = 3.0

In [93]:
n1=float(input('Entre com a nota 1: '))
n2=float(input('Entre com a nota 2: '))
med= (n1+n2)/2
print('A média do aluno é: {:.2f}' .format(med))

Entre com a nota 1: 10
Entre com a nota 2: 8
A média do aluno é: 9.00

In [106]:
num=int(input('Entre com o número: '))
print('A Tabuada de {} é:'.format(num))
print(num,'* 1 = {}'.format(num))
print(num,'* 2 = {}'.format(num*2))
print(num,'* 3 = {}'.format(num*3))
print(num,'* 4 = {}'.format(num*4))
print(num,'* 5 = {}'.format(num*5))
print(num,'* 6 = {}'.format(num*6))
print(num,'* 7 = {}'.format(num*7))
print(num,'* 8 = {}'.format(num*8))
print(num,'* 9 = {}'.format(num*9))
print(num,'* 10 = {}'.format(num*10))

Entre com o número: 5
A Tabuada de 5 é:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50